* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: green;
    text-align: center;
}

.navbar-custom {
    background-color: #0056b3; 
    padding: 0.5rem 1rem; 
  }
  .navbar-custom .nav-link,
  .navbar-custom .navbar-brand {
    color: white; 
  }
  .navbar-custom .nav-link:hover {
    color: #0056b3; 
  }
  .btn-custom {
    background-color: #007bff;
    color: white;
  }
  .btn-custom:hover {
    background-color: #0056b3; 
  }

.form {
    text-align: center;
}

form.form label, input, p, button{
    margin-bottom: 15px;
}

form.form button{
    background-color: green;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}