* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: green;
    text-align: center;
}

.form {
    text-align: center;
}

form.form label, input, p, button{
    margin-bottom: 15px;
}

form.form button{
    background-color: green;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}